@import url("login-panel.css");
@import url("user-panel.css");
@import url("user-profile.css");
@import url("logout.css");
@import url("model-panel.css");
@import url("event-panel.css");

html, body {
	margin: 0;
	padding: 0;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eaeaea url('bg.png');
	color: #4d4d4d;
	min-width: 800px;
	max-width: 90%;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

button, input {
  outline: none;
}

#app {
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	margin: 100px 0 40px 0;
	border: 1px solid #ccc;
	position: relative;
	min-height: 500px;
	border-radius: 6px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
				0 25px 25px 0 rgba(0, 0, 0, 0.15);
}

#app button {
	margin: 0;
	padding: 1;
	border: 1;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

#app input::-webkit-input-placeholder {
	font-style: italic;
}

#app input::-moz-placeholder {
	font-style: italic;
	color: #a9a9a9;
}

#header h1 {
	position: absolute;
	top: -120px;
	width: 100%;
	font-size: 70px;
	font-weight: bold;
	text-align: left;
	color: #595959;
	color: rgba(255, 255, 255, 0.3);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

#main {
	position: relative;
	z-index: 2;
	border-top: 1px;
	border-bottom: 1px;
	//border: 1px solid #FF0000; //TEMP for positioning
}

#info {
	margin: 65px auto 0;
	color: #a6a6a6;
	font-size: 12px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	text-align: center;
}

#info a {
	color: inherit;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox and Opera
*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#toggle-all,
	#todo-list li .toggle {
		background: none;
	}

	#todo-list li .toggle {
		height: 40px;
	}

	#toggle-all {
		top: -56px;
		left: -15px;
		width: 65px;
		height: 41px;
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		-webkit-appearance: none;
		appearance: none;
	}
}

.hidden {
	display: none;
}
