#eventpanel {
	max-width: 300px;
	min-width: 225px;
	display: block;
	margin: 6px;
	vertical-align: text-bottom;
}

#eventpanel .title {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	vertical-align: middle;
}

#eventpanel .events {
	margin-top: 10px;
	margin-left: 20px;
	list-style-type: none;
    padding: 0;
}
 
#eventpanel .event {
	margin-top: 6px;
}

#eventpanel .event .icon {
	height: 28px;
	vertical-align: middle;
}

#eventpanel .event .eventName {
	vertical-align: middle;
	margin-left: 4px;
	font-weight: bold;
	font-size: 16px;
}

#eventpanel .event .newIcon {
	height: 28px;
	vertical-align: middle;
}

#eventpanel .event .newEventName {
	vertical-align: middle;
	margin-left: 4px;
	font-weight: bold;
	font-size: 16px;
	font-style: italic;
	color: #808080;
}