#eventpanel {
	max-width: 300px;
	min-width: 225px;
	position: absolute;
	left: 0px;
	top: 100px;
	display: block;
	margin: 6px;
	vertical-align: text-bottom;
}

#eventpanel .title {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	vertical-align: middle;
}

#eventpanel .events {
	margin-top: 10px;
	margin-left: 20px;
	list-style-type: none;
    padding: 0;
}
 
#eventpanel .event {
	margin-top: 6px;
	position: relative;
}

#eventpanel .event .icon {
	height: 22px;
	vertical-align: middle;
	border: 5px;
}

#eventpanel .event .eventName {
	vertical-align: middle;
	margin-left: 8px;
	font-weight: bold;
	font-size: 16px;
}

#eventpanel .event .newIcon {
	height: 22px;
	vertical-align: middle;
}

#eventpanel .event .newEventName {
	vertical-align: middle;
	margin-left: 8px;
	font-weight: bold;
	font-size: 16px;
	font-style: italic;
	color: #808080;
	position: relative;
}

#eventpanel .iconHighlight {
	display: inline-block;
	width: 22px;
	height: 22px;
	border-radius: 25px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4),
				0px 0px 10px 0px rgba(0, 0, 0, 0.4) inset ;
}

#eventpanel .iconNoHighlight {
	display: inline-block;
	width: 22px;
	height: 22px;
	border-radius: 25px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
}