#logout {
	margin-left: 4px;
}

#logout .iconHighlight {
	width: 20px;
	border-radius: 20px;
	box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#logout .iconNoHighlight {
	width: 20px;
	border-radius: 20px;
	box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0);
}

#logout img {
	height: 22px;
	vertical-align: middle;
}