#modelpanel {
	max-width: 30%;
	display: block;
}

#modelpanel .title, .model {
	margin-top: 8px;
	margin-left: 6px;
	display: inline-block;
	font-weight: bold;
	vertical-align: middle;
}

#modelpanel .title, .model {
	font-size: 18px;
}

#modelpanel .title {
	margin-top: 9px;
}

#modelpanel .targetValueLabel, .targetDateLabel {
	float: left;
	display: inline-block;
	margin-top: 10px;
	margin-left: 20px;
	font-weight: bold;
	vertical-align: middle;
	font-size: 16px;
}

#modelpanel .targetValueText, .targetDateText {
	float: left;
	display: inline-block;
	margin-left: 6px;
	vertical-align: middle;
	margin-top: 8px;
	font-size: 16px;
	width: 100px;
}